*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/*font-family: 'Raleway', sans-serif;
font-family: 'Satisfy', cursive;*/
.row{
    width: 100%;
    padding: 1%;
}
.row::after{
    content: '';
    display: block;
    clear: both;
}

[class*="col-"]{
    width: 100%;
}
[class*="col-"]{
    float: left;
}

/*for small*/
@media (min-width:576px){

 .col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}
}
/*for medium*/
@media (min-width:768px){
 .col-md-1 {width: 8.33%;}
.col-md-2 {width: 16.66%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.33%;}
.col-md-5 {width: 41.66%;}
.col-md-6 {width: 50%;}
.col-md-7 {width: 58.33%;}
.col-md-8 {width: 66.66%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33%;}
.col-md-11 {width: 91.66%;}
.col-md-12 {width: 100%;}
}
/*for large*/
@media (min-width: 992px){
    .nav-logo{
        text-align: left;
        margin-top: 10px;
    }
    nav ul{
        display: flex;
        justify-content: flex-end;
       
    }
    

 .col-lg-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9 {width: 75%;}
.col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
.col-lg-12 {width: 100%;}
}
/*header starts here*/
header{
    background-color: rgb(23, 206, 206);
    padding: 1%;
    text-align: center;
}
.nav-logo img{
    padding:5px;
    height: 90px;
    width: 90px;
}
nav ul li{
    display: block;
    padding: 10px 0px;
    margin-top: 10px;
}
nav ul li a{
    text-decoration: none;
    color:black;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size:0.9rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    transition: .5s;
}
nav ul li a:hover{
    border-radius: 20px;
    background-color: red;
}
/*header ends here*/
/*banner starts here*/
#top-banner{
    background-image: url("restaurant/res4.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-content{
    text-align: center;
    padding:40px 20px ;
}
.banner-content h1{
    width: 100%;
    margin: 20px 5px;
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    background:rgba(245, 246, 250,0.9) ;
    border-radius: 5px;
    padding: 8px;
}
.banner-content p{
    text-align: center;
    width: 300px;
    margin: 20px auto;
    background: rgba(30, 39, 46,0.8);
    color: white;
    font-size: 1.3rem;
    border-radius: 15px;
    padding: 20px;
}
.btn{
    font-size:1.2rem;
    background-color:rgba(248, 194, 145,0.6) ;
    padding: 5px 10px;
    border:1px solid darkslategrey;
    border-radius: 10px;
    width: 150px;
    text-transform: uppercase;
    transition: 0.5s;
}
.btn:hover{
    background-color: black;
    color: white;
    transform: scale(1.2);
}
/*banner ends here*/
/*about us starts here*/
#about-us{
    padding: 1%;
    font-family: 'Raleway', sans-serif;
}
.about-us-content{
    text-align: center;

}
.about-us-content p{
    color: darkblue;
}
.about-us-content h2{
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight:bolder;
}
/*about us ends here*/
/*menu starts here*/
#menu-section{
    padding: 1%;
}
.card-body{
    text-align: center;

}
.card-body img{
   width: 100%;
    height: 200px;
}
.item-desc{
    background: rgba(99, 110, 114,0.8);
}
.item-desc p{
    font-size: 1rem;
    padding:10px ;
    font-weight: bold;
}
.itemname{
    background:rgba(253, 203, 110,1.0) ;
    padding: 10px;
}
.card{
    margin: 10px 10px;
    transition: 0.5s;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 6px 6px 10px 5px black;
}
/*menu ends here*/
/*contact starts here*/
.map{
    width: 100%;
    height: auto;
    padding:5px;
}
#contact{
    text-align: center;
    background-color: rgb(37, 198, 198);
    margin: 0px 10px;
}
/*contact ends here*/
/*footer starts here*/footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
.social-menu a i{
    font-size:2.5rem;
    color: white;
    padding: 10px;
    transition: 0.5s;
}
.social-menu a i:hover{
    transform: scale(1.3);
}
/*footer ends here*/